/* aclonica-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/aclonica-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alumni-sans-inline-one-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alumni Sans Inline One';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/alumni-sans-inline-one-v5-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(88, 70, 105);
}

.header {
    align-items: center;
    justify-content: center;
    display: flex;
    perspective: 500px;
    margin-bottom: 0.5rem;
}

.header span {
    font-family: "Aclonica";
    font-size: 1.5rem;
    padding: 0.2rem;
}

.header span:hover {
    transform:  rotateY(360deg);
    transform-style: preserve-3d;
    transition: 5000ms;
    animation-iteration-count: infinite;
}

.table {
    /* height: 90vh; */
    /* overflow-x: hidden; */
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
}

#table24 {
    margin: 0.5rem;
    height: 90vh;
    overflow-x: hidden;
    margin-bottom: 1rem;
    border: 2px solid red;
    padding: 5px;
}

#table15 {
    margin: 0.5rem;
    height: 90vh;
    overflow-x: hidden;
    margin-bottom: 1rem;
    border: 2px solid red;
    padding: 5px;
}

#table24::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
  }

#table24::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
  }

#table15::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
  }

#table15::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
  }

th {
    font-size: 14px;
    border: 1px solid red;
    cursor: pointer;
    color: white;
    /* position: sticky; */
}

#table24 tr:first-child {
    position: sticky;
}


td {
    font-size: 14px;
    border: 1px solid rgb(149, 255, 0);
    color: rgb(255, 255, 255);
}

.percent {
    white-space: nowrap;
}

.span {
    border: 2px solid green;
}

#hr24 th {
    border: 1px solid purple;
    width: 20px;
    height: 20px;
}

.time {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: yellow;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 30px; /* Настройте размер шрифта по вашему усмотрению */
    }
    .header span {
        font-size:1.5rem; /* Настройте размер шрифта для заголовка */
    }
    #table15 td {
        font-size: 0.9rem; /* Настройте размер шрифта для таблиц */
    }
    footer .time {
        font-size: 1.2rem; /* Настройте размер шрифта для футера */
    }
}